{% extends "base.html" %}

{% block start %}

    {% if messages %}
        <div class="container mt-2">
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
                <a href="{% url "profile" %}" class="text-dark ps-3 ">Go to Profile</a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

<div class="container mt-5">
    <h2 class="text-primary">Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary mt-3" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}