{% extends "base.html" %} {% block start %}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="display-2 text-secondary">Contact Us</h1>
            <strong class="">
              Get in touch with the right people at <i>MyBlog</i>. We’re here to
              help.
            </strong>
        </div>
    </div>
    <hr class="divider" >
    <div class="row">
      <div class="col-8">
        <h1>Get 24/7 Support</h1>
        <p>
          Ask questions, watch tutorials, browse articles or contact an agent.
        </p>
      </div>
      <div class="col-4">
        <a href="#">Tour the help center</a>
      </div>
    </div>
    <hr class="divider" >

    <div class="row">
      <div class="col-md-8">
        <h1>Become a Partner</h1>
        <p>
          Grow your web dev or design agency by earning rewards for creating with
          us.
        </p>
      </div>
      <div class="col-md-4">
        <a href="#">Learn More..</a>
      </div>
    </div>
    <hr class="divider" >
  
    <div class="row">
      <div class="col-md-8">
        <h1>Come work with us</h1>
        <p>
          Check out available career opportunities and shape the future of the
          web.
        </p>
      </div>
      <div class="col-md-4">
        <a href="#">Explore Now..</a>
      </div>
    </div>
    <hr class="divider" >
  
    <div class="row">
      <div class="col-md-8">
        <h1>Join Affiliate Programe</h1>
        <p>Promote Wix on your website and earn commission.</p>
      </div>
      <div class="col-md-4">
        <a href="#">Know More..</a>
      </div>
    </div>
    <hr class="divider" />
</div>

{% endblock %}
