<footer>
    <div class="container-fluid bg-dark p-5">
        <div class="row text-white">
            <div class="col-md-4">
                <h2>Social Media links</h2>
                <div>
                    <a href="www.facebook.com"><i class="fa-brands fa-facebook fs-2"></i></a>
                    <a href="www.facebook.com"><i class="fa-brands fa-instagram fs-2"></i></a>
                    <a href="www.facebook.com"><i class="fa-brands fa-linkedin fs-2"></i></a>
                    <a href="www.facebook.com"><i class="fa-brands fa-threads fs-2"></i></a>    
                </div>
                <p>first col</p>
            </div>
            <div class="col-md-4">
                <p>second col</p>
            </div>
            <div class="col-md-4">
                <p>third col</p>
            </div>
        </div>
        <hr>
        <div class="row text-center text-white">
            <div class="col-md-12">
                <p>bottom</p>
            </div>
        </div>
    </div>
</footer>